#us_map {
  width: 100%;
  height: 500px;
}

#list-state {
  display: none;
}

.legend p {
    display: inline-block;
    *display: inline;
    padding-right: 30px;
}

.legend p span {
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 15px;
    border-radius: 5px;
    border: 1px solid #000;
}

.legend p.none-state span {
    background-color: #ffffff;
}

.legend p.state-affected span {
    background-color: #A75C9A;
}
.legend p.state-not-affected span {
    background-color: #2281AD;
}

@media (max-width: 767px) {
  .legend {
    display: none;
  }

  #us_map {
    display: none;
  }

  #list-state {
    display: block;
    color: #000000;
  }

#list-state a.state-state,
#list-state a.none-state {
    color: #000000;
    font-weight: bold;
    text-decoration: underline;
  }
  #list-state a.disabled {
    text-decoration: none;
  }
  #list-state a.active {
    text-decoration: underline;
  }

}
